extends layout

block content
  | #{user}さんチャットルームへようこそ。
  div
    input(type='hidden', id='name', value='#{user}')
    メッセージ:
    input(type='text', id='input')
    button(id='send') 送信
    hr
  #list
  p
    a(href='/logout') ログアウト
